/* File: static/dark_theme.css */

body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

.ui.dividing.header {
    color:#f3f3f3
}

.ui.header{
    color:#f3f3f3
}

.ui.form .field>label{
    color:#f3f3f3

}

.ui.segment{
background-color: #1e1e1e;
}

p{
    color: #f3f3f3;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 20px auto;
}

input[type="text"],
input[type="file"] {
    background-color: #1e1e1e;
    color: #c6c6c6;
    display: block;
    margin-bottom: 10px;
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1DB954;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    opacity: 0.9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
}

video {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}
